<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Menees.Common" version="5.1.2" targetFramework="net48" />
  <package id="Menees.Diffs" version="5.1.2" targetFramework="net48" />
  <package id="Menees.Diffs.Windows.Forms" version="5.1.2" targetFramework="net48" />
  <package id="Menees.Windows" version="5.1.2" targetFramework="net48" />
  <package id="Menees.Windows.Forms" version="5.1.2" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net48" />
</packages>